<footer>
  <address>
    315 West 53rd Street, New York, NY 10019<br>
    3 West Main Street, Irvington, NY 10533<br>
    212 216 9268 | 914 478 9359<br>
    info@chabonarchitect.com
  </address>

  <small>@ 2020 Chabon Architects</small>
</footer>  

{% stylesheet 'scss' %}
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 320px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid black;

    address {
      line-height: 1.5;
    }
  }
{% endstylesheet %}
