<header>
  <a href="/" class="header-logo">
    <div class="logo-chabon">Chabon</div>
    <div class="logo-architects">Architects</div>
  </a>
  <nav>
    <a href="/projects">Projects</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
</header>

{% stylesheet 'scss' %}
  header {
    position: sticky;
    top: 0;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    z-index: 100;

    h1 {
      font-size: 16px;
      line-height: 1;
      font-weight: 600;
      letter-spacing: .5px;
      text-transform: uppercase;
      transition: opacity .25s, transform .25s;
    }

    nav{
      height: 16px;
      a + a {
        margin-left: 32px;
      }
    }
  }

  .header-logo {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    height: 48px;

    .logo-chabon {
      font-size: 24px;
    }

    .logo-architects {
      font-size: 16px;
      letter-spacing: .5px;
    }
  }
{% endstylesheet %}
